*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
/* body{
    background-image: URL(./img/woodbackground.jfif);
    height:550px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover; 
} */
header {
  width: 100%;
  background-color:white;
  color: rgb(145, 79, 25);
  font-size: 300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  z-index:1000;
 
  
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  padding:10px 25px;
  font-size: 1.1rem;
  /* text-align: center; */
}

.nav-links a {
  text-decoration: none;
  border-radius: 10%;
  padding:5px 15px;
  color:black;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: brown;
  border:3px solid rgb(128, 68, 28);
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  color:black;
}

.hamburger span {
  width: 25px;
  height: 3px;
  color:black;
  background-color: rgb(139, 48, 21);
  border-radius: 2px;
  transition: all 0.3s ease;
}
div h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top: 10px;
    color: rgb(139, 48, 21);
}
.para{
    font-size: 18px;
    text-align: center; 
}


 .contact-box {
            border: 1px solid #b98a45;
            border-radius: 12px;
            padding: 30px;
            /* max-width: 1000px; */
            margin: 50px auto;
        }

        .form-control {
            background: #97673a;
            border: 1px solid #af7751;
        }

        
        .contact-info {
            
            border: 1px solid #b98a45;
            border-radius: 10px;
            padding: 25px;
            
        }
       

        .info-box {
            border: 1px solid #b98a45;
            background-color: #eed2a9;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 15px;
            display: flex;
            gap: 10px;
        }

       

        .btn-cus {
            background-color: rgb(201, 152, 79);
            border: none;
            padding: 10px 25px;
            border-radius: 6px;
        }

        .error {
            color: red;
            font-size: 13px;
        }

/* Header icon */
.icon-circle {
 border:1px solid;
 background-color: #c9a063;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Footer */
.footer-section {
 background-image: url(img/wood\ foot.jfif);
  background-size: cover;
  background-position: center;
  padding: 60px 0 30px;
  border-radius: 40px;
}

.footer-logo {
  width: 160px;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-section h5 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p {
  color: #f1f1f1;
}
 


/* Responsive section */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 130px;
    left: -150%;
    width: 35%;
    height: 50vh;
    background-color:white ;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 30px;
    transition: left 0.4s ease;
  }
  .navbar{
    display:block;
    position:static;
    background: none;
    
  }
  

  .nav-links.active {
    left: 0;
    
  }

  .hamburger {
    display: flex;
    padding: 15px 25px;
    color:black;
    
  }

  
  /* body{
    background-image: URL(./img/woodbackground.jfif);
    height:650px;
    background-repeat:no-repeat; 
    background-position: center;
    background-size:cover; 
} */
}
/* Hamburger animation when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}